.DS_Store
/dist
# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/public/js
/public/css
/storage/IdDocuments
/storage/app/public/IdDocuments
/public/vendors
/storage/photos

/.vagrant
Homestead.json
Homestead.yaml

npm-debug.log
yarn-error.log
composer.phar
.env
.php_cs.cache
.env.backup

/output
/storage/debugbar/
/_ide_helper.php
/bootstrap/cache/
/.phpstorm.meta.php
/.php_cs.cache
/.phpunit.result.cache
/tests/Browser/console/*
/tests/Browser/screenshots/*
